<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdjMEgb1BsaGKooEORi6PTy6y4wPpJw6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>246175212698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Georgian-College.HomePage</string>
	<key>PROJECT_ID</key>
	<string>project09-dc4fb</string>
	<key>STORAGE_BUCKET</key>
	<string>project09-dc4fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246175212698:ios:82da492fe71a66b2622b23</string>
</dict>
</plist>